.contact_form {
    display: flex;
    background-color: aquamarine;
}

.contact_form div {
    width: 35%;
    margin-bottom: 9vh;
}

.head_image {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.main_body {
    width: 100%;
}

img {
    display: inline;
    margin: 0 auto;
    width: 35%;
    clip-path: circle();
    border-radius: 50%;
}
