<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Contacto to buy a property such as a house</title>
    </head>
    <body>
        {% if res.status == 'successful' %}
        <h1>Contacto exitoso</h1>
        <p>
            Felicidates {{contact_form_data.name}}, pronto nos
            podremos en contacto contigo
        </p>
        {% else %}
        <p>
            Lo sentimos {{contact_form_data.name}}, ocurrió un error
            durante la petición
        </p>
        {% endif %}
    </body>
</html>
