<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Properties to sell and buy</title>
    </head>
    <body>
        <h1>Upload new File</h1>
        {% for property in properties %}

        <div>
            <h2>{{property.title}}</h2>
            <h3>{{property.location}}</h3>
            <p>{{property.property_type}}</p>
            <p>Public id: {{property.public_id}}</p>
            <img
                src="{{property.title_image_thumb}}"
                alt="{{property.property_type}}"
            />
        </div>

        {% endfor %}

        <div id="pagination">
            <div>
                <a
                    href="{{url_for('home.all_properties', page=pagination.page - 1)}}"
                    >previous</a
                >
            </div>
            <div><p>{{pagination.page}}</p></div>
            <div>
                <a
                    href="{{url_for('home.all_properties', page=pagination.page)}}"
                    >next</a
                >
            </div>
            <div>
                <a
                    href="{{url_for('home.all_properties', page=pagination.total)}}"
                    >Last one</a
                >
            </div>
        </div>
    </body>
</html>
